@page "/configuration/filters"
@layout SidebarLayout

<PageTitle>Configuration - Manage Filters</PageTitle>

<ilw-content>
    <h1>Manage Filters</h1>
    <p>Audience, topics, and tags are keywords that can be configured per source and can be used as filters for various resources. Tags can be assigned a title and be used to set up your own filtering options.</p>
    <p>There are three "preset" tags, which are used to standardize the tag list across multiple sources. If one of your keywords closely resembles one of the preset tags, consider using this instead of a generic tag. The preset tags are:</p>
    <ul>
        <li><em>Audience</em>: This is who the topic is considered appropriate for. It may be "student / staff / faculty" organization, or a "first grade / second grade / etc." organization. </li>
        <li><em>Topic</em>: This is the general topic of the resource. This is going to be dependent on your specific needs.</li>
        <li><em>Department</em>: This is used to indicate which department or group within your organization the resource is associated with. This is mainly used for internal documentation and will be used to handle permissions.</li>
    </ul>

    <div class="ils-input-entry">
        <label for="filter-type">Type</label>
        <select id="filter-type" @bind="FilterType" @bind:after="ChangeFilter">
            <option value=""></option>
            <option value="Audience">Audience</option>
            <option value="Topic">Topic</option>
            <option value="Department">Department</option>
            <option value="Tag 1">Generic Tag 1</option>
            <option value="Tag 2">Generic Tag 2</option>
            <option value="Tag 3">Generic Tag 3</option>
            <option value="Tag 4">Generic Tag 4</option>
        </select>
    </div>
</ilw-content>

@if (FilterType != "")
{
    <ilw-content>
        <h2>@FilterType</h2>

        <h3>Filter Name</h3>
        <p>The name of the filter as it appears to users. For example, "Audience", "Topic", "Grade Level", "Skilll", "Format", etc. This is required for it to be used, even if you are using a preset tag.</p>

        <div class="ils-input-entry">
            <label for="filter-title">Filter Title:</label>
            <input id="filter-title" @bind="FilterTitle" />
        </div>

        <h3>Filters</h3>
        @for (int i = 0; i < FilterTags.Count; i++)
        {
            <FilterEditor Id="@i" @bind-Value="@FilterTags[i]" MoveUpCallback="e => MoveUp(e)" MoveDownCallback="e => MoveDown(e)" RemoveCallback="e => Remove(e)" />
        }

        <div class="search-generic-item">
            <h3>Add New Filter</h3>
            <input type="text" @bind="NewFilterName" class="ils-input-long" />
            <button class="ilw-button" @onclick="Add">Add</button>
        </div>
    </ilw-content>
    <button class="ilw-button ilw-theme-orange-2" @onclick="Save" @onblur="Layout.RemoveMessage">Save</button>
}

<ilw-content>
    <h2>Filter Names and Order</h2>
    <p>You can re-order the filters if you are pulling them via an API.</p>
    @if (TagOrderList != null)
    {
        @for (int i = 0; i < TagOrderList.Count; i++)
        {
            <FilterGroupEditor Id="@i" @bind-Value="@TagOrderList[i]" MoveUpCallback="e => MoveGroupUp(e)" MoveDownCallback="e => MoveGroupDown(e)" />
        }
    }

</ilw-content>
<button class="ilw-button ilw-theme-orange-2" @onclick="SaveGroupOrder" @onblur="Layout.RemoveMessage">Save Group Order</button>
